
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Overlock', cursive;
    text-transform: capitalize;
}

header {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    padding: 30px 30px;
    color: white;
}

.nav-item a {
    padding: 1em 2em!important;
}

/* Index page */
.quiz-question-cover {
    max-height: 360px;
}

.quiz-question-cover:hover {
    opacity: 0.9;
}

/* Quiz Thumbnail Images */
#thumbs img {
    opacity: 0.5;
}

#thumbs div.active {
    border: 3px solid white!important ;
}

.image-box, .category-box {
    min-height: 360px; /* used when API error message displayed instead of an image */
}